<div class="container my-5">
  <h1>Rails on Replit</h1>

  <p>Have you imagine it?</p>

  <address>
    <%= link_to 'Repl.it â¤ï¸', "https://replit.com/@#{REPL_OWNER}/#{REPL_SLUG}" %>
  </address>
</body>
