<div class="container my-5">
  <h1>Rails on Replit</h1>

  <p>Have you imagine it?</p>

  <address>
    <a href="https://replit.com/@#{REPL_OWNER}/#{REPL_SLUG}">Repl.it &lt;3</a>
  </address>
</body>
